.email-viewer {
  position: absolute;
  top: 35%;
  margin-left: 5%;
}

table {
  width: 90%;
  border-collapse: collapse;
  top: 12%;
  margin-left: 5%;
  position: fixed;
}

thead th {
  text-align: left;
  background-color: #eee;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
  cursor: pointer;
}

thead button.ascending::after {
  content: url("../assets/icon_arrow01.svg");
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 1em;
  transform: rotate(180deg);
}

thead button.descending::after {
  content: url("../assets/icon_arrow01.svg");
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #e0e0e0;
  color: blue;
  cursor: pointer;
}

@media only screen and (max-width: 40em) {
  td,
  th {
    display: block;
  }

  td[data-th]:before {
    content: attr(data-th);
  }
}
